# Data Understanding

In [ ]:
library("tidyverse")

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [ ]:
library("ggplot2")
library("ggrepel")
library("ggcorrplot")
library("DT")

ERROR: Error in library("ggrepel"): there is no package called 'ggrepel'

In [ ]:
cases <- read_csv("C:/Users/dongc/Downloads/COVID-19_cases_plus_census.csv")

Parsed with column specification:
cols(
  .default = col_double(),
  county_fips_code = col_character(),
  county_name = col_character(),
  state = col_character(),
  state_fips_code = col_character(),
  date = col_date(format = ""),
  geo_id = col_character(),
  pop_5_years_over = col_logical(),
  speak_only_english_at_home = col_logical(),
  speak_spanish_at_home = col_logical(),
  speak_spanish_at_home_low_english = col_logical(),
  pop_15_and_over = col_logical(),
  pop_never_married = col_logical(),
  pop_now_married = col_logical(),
  pop_separated = col_logical(),
  pop_widowed = col_logical(),
  pop_divorced = col_logical()
)
See spec(...) for full column specifications.

In [ ]:
head(cases)

  county_fips_code county_name       state state_fips_code date
1 50009            Essex County      VT    50              2021-01-19
2 50007            Chittenden County VT    50              2021-01-19
3 10001            Kent County       DE    10              2021-01-19
4 44009            Washington County RI    44              2021-01-19
5 33001            Belknap County    NH    33              2021-01-19
6 44005            Newport County    RI    44              2021-01-19
  confirmed_cases deaths geo_id nonfamily_households family_households ...
1   111             0    50009    994                 1726             ...
2  3636            78    50007  27549                37357             ...
3 11548           187    10001  19148                44233             ...
4  5521           122    44009  16912                32696             ...
5  2496            79    33001   8260                16319             ...
6  3578             6    44005  13438                21983             ...
  speak_only_english_at_home speak_spanish_at_home
1 NA                         NA
2 NA                         NA
3 NA                         NA
4 NA                         NA
5 NA                         NA
6 NA                         NA
  speak_spanish_at_home_low_english pop_15_and_over pop_never_married
1 NA                                NA              NA
2 NA                                NA              NA
3 NA                                NA              NA
4 NA                                NA              NA
5 NA                                NA              NA
6 NA                                NA              NA
  pop_now_married pop_separated pop_widowed pop_divorced do_date
1 NA              NA            NA          NA           20132017
2 NA              NA            NA          NA           20132017
3 NA              NA            NA          NA           20132017
4 NA              NA            NA          NA           20132017
5 NA              NA            NA          NA           20132017
6 NA              NA            NA          NA           20132017

**What data is available? Describe the type of data (scale, values, etc.) of the most 
important variables in the data**

In [ ]:
# making new columns to see more trends and selecting features we think is the most useful
library(dplyr)

educated_cases = select(cases, county_fips_code, county_name, state, state_fips_code, date, confirmed_cases, deaths, total_pop, 
                       male_pop, female_pop, in_school, in_grades_1_to_4, in_grades_5_to_8, in_grades_9_to_12, in_undergrad_college, 
                       median_age, male_under_5, male_5_to_9, male_10_to_14, male_15_to_17, male_18_to_19, male_20, male_21, 
                       male_22_to_24, male_25_to_29, male_30_to_34, male_35_to_39, male_40_to_44, male_45_to_49, male_50_to_54, 
                       male_55_to_59, male_60_61, male_62_64, male_65_to_66, male_67_to_69, male_70_to_74, male_75_to_79, 
                       male_80_to_84, male_85_and_over, female_under_5, female_5_to_9, female_10_to_14, female_15_to_17, 
                       female_18_to_19, female_20, female_21, female_22_to_24, female_25_to_29, female_30_to_34, female_35_to_39, 
                       female_40_to_44, female_45_to_49, female_50_to_54, female_55_to_59, female_60_to_61, female_62_to_64, 
                       female_65_to_66, female_67_to_69, female_70_to_74, female_75_to_79, female_80_to_84, female_85_and_over,
                       some_college_and_associates_degree, associates_degree, bachelors_degree, high_school_diploma, 
                       less_one_year_college, masters_degree, one_year_more_college, graduate_professional_degree)
head(educated_cases)

  county_fips_code county_name       state state_fips_code date
1 50009            Essex County      VT    50              2021-01-19
2 50007            Chittenden County VT    50              2021-01-19
3 10001            Kent County       DE    10              2021-01-19
4 44009            Washington County RI    44              2021-01-19
5 33001            Belknap County    NH    33              2021-01-19
6 44005            Newport County    RI    44              2021-01-19
  confirmed_cases deaths total_pop male_pop female_pop ... female_80_to_84
1   111             0      6203     3135     3068      ...  106
2  3636            78    160985    78928    82057      ... 1714
3 11548           187    173145    83544    89601      ... 1751
4  5521           122    126190    61154    65036      ... 1687
5  2496            79     60383    29705    30678      ...  768
6  3578             6     83204    40952    42252      ... 1097
  female_85_and_over some_college_and_associates_degree associates_degree
1   92                1142                               489
2 2179               25605                              8839
3 1608               35143                              9690
4 2182               22271                              7581
5  917               13964                              4518
6 1711               14547                              4253
  bachelors_degree high_school_diploma less_one_year_college masters_degree
1   427             1914                156                    205
2 30524            18473               4868                  14735
3 16509            32509               7382                   7513
4 21818            16497               4244                  11762
5  8666            11379               3500                   3883
6 16852            11669               3179                   7970
  one_year_more_college graduate_professional_degree
1   497                   263
2 11898                 21722
3 18071                 10328
4 10446                 16641
5  5946                  5327
6  7115                 11171

In [ ]:
# making new column showing ratio of deaths with confirmed cases and confirmed cases with total population in percentage
clean_cases <- educated_cases %>% mutate(C_D_Ratio = (deaths/confirmed_cases) * 100)

In [ ]:
clean_cases <- clean_cases %>% mutate(Pop_to_cases = (confirmed_cases/total_pop) * 100)

In [ ]:
# creating a better range for age by adding features and removing the past features for males
# creating ages 0-24
clean_cases$male_0_to_24 <- c(educated_cases$male_under_5 + educated_cases$male_5_to_9 + educated_cases$male_10_to_14 + 
                             educated_cases$male_15_to_17 + educated_cases$male_18_to_19 + educated_cases$male_20 + 
                             educated_cases$male_21 + educated_cases$male_22_to_24)
clean_cases <- subset(clean_cases, select = -c(male_under_5, male_5_to_9, male_10_to_14, male_15_to_17, male_18_to_19, male_20, 
                                               male_21, male_22_to_24))
# creating ages 25-34
clean_cases$male_25_to_34 <- c(educated_cases$male_25_to_29 + educated_cases$male_30_to_34)
clean_cases <- subset(clean_cases, select = -c(male_25_to_29, male_30_to_34))

# creating ages 35-44
clean_cases$male_35_to_44 <- c(educated_cases$male_35_to_39 + educated_cases$male_40_to_44)
clean_cases <- subset(clean_cases, select = -c(male_35_to_39, male_40_to_44))

# creating ages 45-54
clean_cases$male_45_to_54 <- c(educated_cases$male_45_to_49 + educated_cases$male_50_to_54)
clean_cases <- subset(clean_cases, select = -c(male_45_to_49, male_50_to_54))

# creating ages 55-64
clean_cases$male_55_to_64 <- c(educated_cases$male_55_to_59 + educated_cases$male_60_61 + educated_cases$male_62_64)
clean_cases <- subset(clean_cases, select = -c(male_55_to_59, male_60_61, male_62_64))

# creating ages 65-74
clean_cases$male_65_to_74 <- c(educated_cases$male_65_to_66 + educated_cases$male_67_to_69 + educated_cases$male_70_to_74)
clean_cases <- subset(clean_cases, select = -c(male_65_to_66, male_67_to_69, male_70_to_74))

# creating ages 75-84
clean_cases$male_75_to_84 <- c(educated_cases$male_75_to_79 + educated_cases$male_80_to_84)
clean_cases <- subset(clean_cases, select = -c(male_75_to_79, male_80_to_84))

head(clean_cases)

  county_fips_code county_name       state state_fips_code date
1 50009            Essex County      VT    50              2021-01-19
2 50007            Chittenden County VT    50              2021-01-19
3 10001            Kent County       DE    10              2021-01-19
4 44009            Washington County RI    44              2021-01-19
5 33001            Belknap County    NH    33              2021-01-19
6 44005            Newport County    RI    44              2021-01-19
  confirmed_cases deaths total_pop male_pop female_pop ...
1   111             0      6203     3135     3068      ...
2  3636            78    160985    78928    82057      ...
3 11548           187    173145    83544    89601      ...
4  5521           122    126190    61154    65036      ...
5  2496            79     60383    29705    30678      ...
6  3578             6     83204    40952    42252      ...
  graduate_professional_degree C_D_Ratio Pop_to_cases male_0_to_24
1   263                        0.0000000 1.789457       787
2 21722                        2.1452145 2.258596     28271
3 10328                        1.6193280 6.669554     30018
4 16641                        2.2097446 4.375149     20436
5  5327                        3.1650641 4.133614      8161
6 11171                        0.1676914 4.300274     11662
  male_25_to_34 male_35_to_44 male_45_to_54 male_55_to_64 male_65_to_74
1   253          327            460           556          469
2 11232         9192          10555         10273         5913
3 11365         9427          10847          9797         7525
4  5665         6012           8898          9699         6577
5  3076         3201           4515          5013         3638
6  5154         4853           5816          5938         4604
  male_75_to_84
1  194
2 2528
3 3509
4 2944
5 1301
6 2238

In [ ]:
# creating a better range for age by adding features and removing the past features for females
# creating ages 0-24
clean_cases$female_0_to_24 <- c(educated_cases$female_under_5 + educated_cases$female_5_to_9 + educated_cases$female_10_to_14 + 
                             educated_cases$female_15_to_17 + educated_cases$female_18_to_19 + educated_cases$female_20 + 
                             educated_cases$female_21 + educated_cases$female_22_to_24)
clean_cases <- subset(clean_cases, select = -c(female_under_5, female_5_to_9, female_10_to_14, female_15_to_17, female_18_to_19,
                                               female_20, female_21, female_22_to_24))
# creating ages 25-34
clean_cases$female_25_to_34 <- c(educated_cases$female_25_to_29 + educated_cases$female_30_to_34)
clean_cases <- subset(clean_cases, select = -c(female_25_to_29, female_30_to_34))

# creating ages 35-44
clean_cases$female_35_to_44 <- c(educated_cases$female_35_to_39 + educated_cases$female_40_to_44)
clean_cases <- subset(clean_cases, select = -c(female_35_to_39, female_40_to_44))

# creating ages 45-54
clean_cases$female_45_to_54 <- c(educated_cases$female_45_to_49 + educated_cases$female_50_to_54)
clean_cases <- subset(clean_cases, select = -c(female_45_to_49, female_50_to_54))

# creating ages 55-64
clean_cases$female_55_to_64 <- c(educated_cases$female_55_to_59 + educated_cases$female_60_to_61 + educated_cases$female_62_to_64)
clean_cases <- subset(clean_cases, select = -c(female_55_to_59, female_60_to_61, female_62_to_64))

# creating ages 65-74
clean_cases$female_65_to_74 <- c(educated_cases$female_65_to_66 + educated_cases$female_67_to_69 + educated_cases$female_70_to_74)
clean_cases <- subset(clean_cases, select = -c(female_65_to_66, female_67_to_69, female_70_to_74))

# creating ages 75-84
clean_cases$female_75_to_84 <- c(educated_cases$female_75_to_79 + educated_cases$female_80_to_84)
clean_cases <- subset(clean_cases, select = -c(female_75_to_79, female_80_to_84))

head(clean_cases)

  county_fips_code county_name       state state_fips_code date
1 50009            Essex County      VT    50              2021-01-19
2 50007            Chittenden County VT    50              2021-01-19
3 10001            Kent County       DE    10              2021-01-19
4 44009            Washington County RI    44              2021-01-19
5 33001            Belknap County    NH    33              2021-01-19
6 44005            Newport County    RI    44              2021-01-19
  confirmed_cases deaths total_pop male_pop female_pop ... male_55_to_64
1   111             0      6203     3135     3068      ...   556
2  3636            78    160985    78928    82057      ... 10273
3 11548           187    173145    83544    89601      ...  9797
4  5521           122    126190    61154    65036      ...  9699
5  2496            79     60383    29705    30678      ...  5013
6  3578             6     83204    40952    42252      ...  5938
  male_65_to_74 male_75_to_84 female_0_to_24 female_25_to_34 female_35_to_44
1  469           194            709            268             313
2 5913          2528          27455          10878            9345
3 7525          3509          28967          11626           10701
4 6577          2944          20310           5655            6341
5 3638          1301           7753           3154            3446
6 4604          2238          11275           4632            4433
  female_45_to_54 female_55_to_64 female_65_to_74 female_75_to_84
1   491             554            419             222
2 11116           10826           6784            3474
3 11795           11269           8814            4821
4  9636           10140           7048            3724
5  4573            5225           3780            1830
6  6138            6545           4952            2566

In [ ]:
summary(cases)

 county_fips_code   county_name           state           state_fips_code
 Length:3142        Length:3142        Length:3142        Length:3142
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




      date            confirmed_cases         deaths           geo_id
 Min.   :2021-01-19   Min.   :      0.0   Min.   :    0.0   Length:3142
 1st Qu.:2021-01-19   1st Qu.:    796.2   1st Qu.:   12.0   Class :character
 Median :2021-01-19   Median :   1916.5   Median :   31.0   Mode  :character
 Mean   :2021-01-19   Mean   :   7558.9   Mean   :  124.8
 3rd Qu.:2021-01-19   3rd Qu.:   4955.0   3rd Qu.:   77.0
 Max.   :2021-01-19   Max.   :1002614.0   Max.   :13936.0

 nonfamily_households family_households median_year_structure_built
 Min.   :     12      Min.   :     15   Min.   :1939
 1st Qu.:   1393      1st Qu.:   2827   1st Qu.:1968
 Median :   3168      Median :   6604   Median :1977
 Mean   :  12898      Mean   :  24920   Mean   :1975
 3rd Qu.:   8495      3rd Qu.:  17211   3rd Qu.:1983
 Max.   :1091276      Max.   :2203922   Max.   :2003
                                        NA's   :1
 rent_burden_not_computed rent_over_50_percent rent_40_to_50_percent
 Min.   :    0            Min.   :     0       Min.   :     0.0
 1st Qu.:  184            1st Qu.:   162       1st Qu.:    60.0
 Median :  383            Median :   486       Median :   193.0
 Mean   : 1016            Mean   :  3237       Mean   :  1167.2
 3rd Qu.:  853            3rd Qu.:  1576       3rd Qu.:   614.5
 Max.   :85384            Max.   :536832       Max.   :177284.0

 rent_35_to_40_percent rent_30_to_35_percent rent_25_to_30_percent
 Min.   :     0.0      Min.   :     0.0      Min.   :     0
 1st Qu.:    42.0      1st Qu.:    67.0      1st Qu.:    87
 Median :   135.5      Median :   194.0      Median :   257
 Mean   :   848.5      Mean   :  1156.6      Mean   :  1458
 3rd Qu.:   449.0      3rd Qu.:   617.2      3rd Qu.:   767
 Max.   :124762.0      Max.   :161522.0      Max.   :186079

 rent_20_to_25_percent rent_15_to_20_percent rent_10_to_15_percent
 Min.   :     0.0      Min.   :     0.0      Min.   :     0.0
 1st Qu.:    98.0      1st Qu.:   111.0      1st Qu.:    99.0
 Median :   274.5      Median :   306.5      Median :   251.0
 Mean   :  1611.2      Mean   :  1592.9      Mean   :  1100.0
 3rd Qu.:   864.8      3rd Qu.:   933.5      3rd Qu.:   694.2
 Max.   :190808.0      Max.   :171288.0      Max.   :104745.0

 rent_under_10_percent   total_pop           male_pop         female_pop
 Min.   :    0.0       Min.   :      74   Min.   :     39   Min.   :     35
 1st Qu.:   56.0       1st Qu.:   10945   1st Qu.:   5514   1st Qu.:   5460
 Median :  135.0       Median :   25692   Median :  12798   Median :  12885
 Mean   :  495.1       Mean   :  102166   Mean   :  50292   Mean   :  51873
 3rd Qu.:  341.8       3rd Qu.:   67445   3rd Qu.:  33481   3rd Qu.:  34108
 Max.   :49983.0       Max.   :10105722   Max.   :4979641   Max.   :5126081

   median_age      white_pop         black_pop         asian_pop
 Min.   :21.60   Min.   :     18   Min.   :      0   Min.   :      0.0
 1st Qu.:37.90   1st Qu.:   8093   1st Qu.:     95   1st Qu.:     31.0
 Median :41.20   Median :  20205   Median :    758   Median :    138.0
 Mean   :41.15   Mean   :  62787   Mean   :  12554   Mean   :   5407.2
 3rd Qu.:44.20   3rd Qu.:  53500   3rd Qu.:   5396   3rd Qu.:    712.5
 Max.   :66.40   Max.   :2676982   Max.   :1226134   Max.   :1442577.0

  hispanic_pop     amerindian_pop    other_race_pop    two_or_more_races_pop
 Min.   :      0   Min.   :    0.0   Min.   :    0.0   Min.   :     0
 1st Qu.:    323   1st Qu.:   24.0   1st Qu.:    0.0   1st Qu.:   137
 Median :   1025   Median :   95.5   Median :   10.0   Median :   396
 Mean   :  17986   Mean   :  668.0   Mean   :  227.7   Mean   :  2372
 3rd Qu.:   4868   3rd Qu.:  348.0   3rd Qu.:   73.0   3rd Qu.:  1390
 Max.   :4893579   Max.   :64102.0   Max.   :46396.0   Max.   :219180

 not_hispanic_pop  commuters_by_public_transportation   households
 Min.   :     62   Min.   :     0                     Min.   :     31
 1st Qu.:   9935   1st Qu.:     6                     1st Qu.:   4256
 Median :  23932   Median :    33                     Median :   9850
 Mean   :  84180   Mean   :  2421                     Mean   :  37819
 3rd Qu.:  63026   3rd Qu.:   145                     3rd Qu.:  25873
 Max.   :5212143   Max.   :735534                     Max.   :3295198

 median_income    income_per_capita housing_units     vacant_housing_units
 Min.   : 19264   Min.   : 9334     Min.   :     59   Min.   :    28.0
 1st Qu.: 41123   1st Qu.:21810     1st Qu.:   5457   1st Qu.:   958.2
 Median : 48066   Median :25273     Median :  12406   Median :  2041.5
 Mean   : 49754   Mean   :26040     Mean   :  43092   Mean   :  5273.0
 3rd Qu.: 55764   3rd Qu.:29126     3rd Qu.:  31284   3rd Qu.:  4685.2
 Max.   :129588   Max.   :69529     Max.   :3506903   Max.   :227426.0

 vacant_housing_units_for_rent vacant_housing_units_for_sale  median_rent
 Min.   :    0.0               Min.   :    0.0               Min.   : 140.0
 1st Qu.:   66.0               1st Qu.:   50.0               1st Qu.: 424.0
 Median :  193.0               Median :  147.0               Median : 510.5
 Mean   :  903.4               Mean   :  428.5               Mean   : 563.4
 3rd Qu.:  579.8               3rd Qu.:  369.8               3rd Qu.: 642.0
 Max.   :62460.0               Max.   :25450.0               Max.   :1879.0
                                                             NA's   :2
 percent_income_spent_on_rent owner_occupied_housing_units
 Min.   :10.00                Min.   :      2
 1st Qu.:25.30                1st Qu.:   3156
 Median :28.10                Median :   7116
 Mean   :27.82                Mean   :  24135
 3rd Qu.:30.30                3rd Qu.:  18107
 Max.   :50.00                Max.   :1512364
 NA's   :1
 million_dollar_housing_units mortgaged_housing_units
 Min.   :    0.0              Min.   :      0
 1st Qu.:    2.0              1st Qu.:   1416
 Median :   19.0              Median :   3627
 Mean   :  352.3              Mean   :  15336
 3rd Qu.:   67.0              3rd Qu.:  10413
 Max.   :98228.0              Max.   :1103229

 families_with_young_children two_parent_families_with_young_children
 Min.   :     0.0             Min.   :     0.0
 1st Qu.:   713.2             1st Qu.:   430.2
 Median :  1728.5             Median :  1037.0
 Mean   :  7301.0             Mean   :  4729.6
 3rd Qu.:  4572.0             3rd Qu.:  2952.5
 Max.   :725915.0             Max.   :438223.0

 two_parents_in_labor_force_families_with_young_children
 Min.   :     0
 1st Qu.:   239
 Median :   610
 Mean   :  2772
 3rd Qu.:  1694
 Max.   :242644

 two_parents_father_in_labor_force_families_with_young_children
 Min.   :     0
 1st Qu.:   140
 Median :   374
 Mean   :  1740
 3rd Qu.:  1058
 Max.   :174194

 two_parents_mother_in_labor_force_families_with_young_children
 Min.   :    0.0
 1st Qu.:    5.0
 Median :   30.0
 Mean   :  148.3
 3rd Qu.:  103.0
 Max.   :13920.0

 two_parents_not_in_labor_force_families_with_young_children
 Min.   :   0.00
 1st Qu.:   0.00
 Median :  12.00
 Mean   :  69.27
 3rd Qu.:  52.00
 Max.   :7465.00

 one_parent_families_with_young_children
 Min.   :     0
 1st Qu.:   239
 Median :   637
 Mean   :  2571
 3rd Qu.:  1644
 Max.   :287692

 father_one_parent_families_with_young_children
 Min.   :    0.0
 1st Qu.:   53.0
 Median :  152.0
 Mean   :  594.1
 3rd Qu.:  420.5
 Max.   :75310.0

 father_in_labor_force_one_parent_families_with_young_children
 Min.   :    0
 1st Qu.:   45
 Median :  133
 Mean   :  530
 3rd Qu.:  373
 Max.   :68691

 commute_10_14_mins commute_15_19_mins commute_20_24_mins commute_25_29_mins
 Min.   :     2     Min.   :     0.0   Min.   :     0     Min.   :     0
 1st Qu.:   529     1st Qu.:   473.2   1st Qu.:   400     1st Qu.:   175
 Median :  1522     Median :  1345.5   Median :  1130     Median :   490
 Mean   :  6124     Mean   :  6885.2   Mean   :  6552     Mean   :  2864
 3rd Qu.:  4704     3rd Qu.:  4530.0   3rd Qu.:  3646     3rd Qu.:  1583
 Max.   :471609     Max.   :601972.0   Max.   :609158     Max.   :241388

 commute_30_34_mins commute_45_59_mins aggregate_travel_time_to_work
 Min.   :     0.0   Min.   :     0     Min.   :     3040
 1st Qu.:   420.5   1st Qu.:   254     1st Qu.:   109998
 Median :  1070.5   Median :   696     Median :   263630
 Mean   :  6157.2   Mean   :  3649     Mean   :  1242891
 3rd Qu.:  3023.8   3rd Qu.:  1900     3rd Qu.:   708848
 Max.   :778603.0   Max.   :470600     Max.   :136962170
                                       NA's   :143
 income_less_10000  income_10000_14999 income_15000_19999 income_20000_24999
 Min.   :     0.0   Min.   :     0.0   Min.   :     0     Min.   :     0.0
 1st Qu.:   321.0   1st Qu.:   266.2   1st Qu.:   260     1st Qu.:   262.2
 Median :   763.5   Median :   625.0   Median :   616     Median :   616.5
 Mean   :  2527.8   Mean   :  1835.8   Mean   :  1823     Mean   :  1881.2
 3rd Qu.:  1887.8   3rd Qu.:  1452.5   3rd Qu.:  1427     3rd Qu.:  1461.8
 Max.   :201863.0   Max.   :178737.0   Max.   :156089     Max.   :162639.0

 income_25000_29999 income_30000_34999 income_35000_39999 income_40000_44999
 Min.   :     0     Min.   :     0.0   Min.   :     0.0   Min.   :     0.0
 1st Qu.:   246     1st Qu.:   245.0   1st Qu.:   214.2   1st Qu.:   214.2
 Median :   578     Median :   578.5   Median :   528.5   Median :   507.0
 Mean   :  1788     Mean   :  1817.7   Mean   :  1697.3   Mean   :  1704.2
 3rd Qu.:  1394     3rd Qu.:  1407.0   3rd Qu.:  1298.0   3rd Qu.:  1291.5
 Max.   :144700     Max.   :149564.0   Max.   :135954.0   Max.   :138917.0

 income_45000_49999 income_50000_59999 income_60000_74999 income_75000_99999
 Min.   :     0     Min.   :     3.0   Min.   :     2     Min.   :     2
 1st Qu.:   188     1st Qu.:   346.2   1st Qu.:   416     1st Qu.:   459
 Median :   435     Median :   822.0   Median :  1026     Median :  1148
 Mean   :  1504     Mean   :  2922.3   Mean   :  3761     Mean   :  4658
 3rd Qu.:  1156     3rd Qu.:  2149.8   3rd Qu.:  2690     3rd Qu.:  3189
 Max.   :120529     Max.   :233537.0   Max.   :306351     Max.   :387502

 income_100000_124999 income_125000_149999 income_150000_199999
 Min.   :     0.0     Min.   :     0.0     Min.   :     0.0
 1st Qu.:   263.2     1st Qu.:   127.2     1st Qu.:   101.0
 Median :   675.5     Median :   353.0     Median :   280.0
 Mean   :  3269.8     Mean   :  2045.8     Mean   :  2206.0
 3rd Qu.:  2062.2     3rd Qu.:  1096.8     3rd Qu.:   976.5
 Max.   :287785.0     Max.   :189618.0     Max.   :224078.0

 income_200000_or_more
 Min.   :     0.0
 1st Qu.:    78.0
 Median :   209.0
 Mean   :  2376.0
 3rd Qu.:   784.5
 Max.   :277335.0

 renter_occupied_housing_units_paying_cash_median_gross_rent
 Min.   : 288.0
 1st Qu.: 607.0
 Median : 681.0
 Mean   : 734.6
 3rd Qu.: 811.0
 Max.   :1973.0
 NA's   :1
 owner_occupied_housing_units_lower_value_quartile
 Min.   :  9999
 1st Qu.: 53725
 Median : 72100
 Mean   : 89208
 3rd Qu.:103700
 Max.   :679500
 NA's   :4
 owner_occupied_housing_units_median_value
 Min.   : 18700
 1st Qu.: 89975
 Median :117700
 Mean   :141343
 3rd Qu.:163325
 Max.   :995900
 NA's   :2
 owner_occupied_housing_units_upper_value_quartile married_households
 Min.   :  58100                                   Min.   :     15
 1st Qu.: 157650                                   1st Qu.:   2176
 Median : 188100                                   Median :   5046
 Mean   : 221486                                   Mean   :  18288
 3rd Qu.: 247700                                   3rd Qu.:  12900
 Max.   :1801300                                   Max.   :1477624
 NA's   :3
 occupied_housing_units housing_units_renter_occupied
 Min.   :     31        Min.   :     11
 1st Qu.:   4256        1st Qu.:   1093
 Median :   9850        Median :   2658
 Mean   :  37819        Mean   :  13683
 3rd Qu.:  25873        3rd Qu.:   7642
 Max.   :3295198        Max.   :1782834

 dwellings_1_units_detached dwellings_1_units_attached dwellings_2_units
 Min.   :     26            Min.   :     0             Min.   :     0.0
 1st Qu.:   4034            1st Qu.:    37             1st Qu.:    76.0
 Median :   8786            Median :   141             Median :   253.0
 Mean   :  26591            Mean   :  2515             Mean   :  1575.0
 3rd Qu.:  22183            3rd Qu.:   726             3rd Qu.:   825.2
 Max.   :1729296            Max.   :401052             Max.   :211997.0

 dwellings_3_to_4_units dwellings_5_to_9_units dwellings_10_to_19_units
 Min.   :     0         Min.   :     0.0       Min.   :     0.0
 1st Qu.:    95         1st Qu.:    70.0       1st Qu.:    33.0
 Median :   283         Median :   241.5       Median :   132.0
 Mean   :  1894         Mean   :  2050.0       Mean   :  1926.8
 3rd Qu.:   994         3rd Qu.:   950.5       3rd Qu.:   626.2
 Max.   :236268         Max.   :272661.0       Max.   :269963.0

 dwellings_20_to_49_units dwellings_50_or_more_units  mobile_homes
 Min.   :     0.0         Min.   :     0             Min.   :    0
 1st Qu.:    26.0         1st Qu.:     3             1st Qu.:  572
 Median :   107.0         Median :    59             Median : 1487
 Mean   :  1543.7         Mean   :  2252             Mean   : 2708
 3rd Qu.:   448.8         3rd Qu.:   381             3rd Qu.: 3094
 Max.   :315498.0         Max.   :483779             Max.   :86275

 housing_built_2005_or_later housing_built_2000_to_2004
 Min.   :    0.0             Min.   :    0.0
 1st Qu.:   19.0             1st Qu.:   80.0
 Median :   68.0             Median :  225.0
 Mean   :  378.8             Mean   :  990.5
 3rd Qu.:  209.0             3rd Qu.:  667.2
 Max.   :29571.0             Max.   :72857.0

 housing_built_1939_or_earlier  male_under_5       male_5_to_9
 Min.   :     0.0              Min.   :     0.0   Min.   :     0.0
 1st Qu.:   261.0              1st Qu.:   315.2   1st Qu.:   349.0
 Median :   552.5              Median :   765.5   Median :   817.5
 Mean   :  2197.1              Mean   :  3231.0   Mean   :  3319.9
 3rd Qu.:  1316.8              3rd Qu.:  2050.8   3rd Qu.:  2169.2
 Max.   :374655.0              Max.   :323689.0   Max.   :316314.0

 male_10_to_14    male_15_to_17      male_18_to_19         male_20
 Min.   :     0   Min.   :     0.0   Min.   :     0.0   Min.   :    0.00
 1st Qu.:   359   1st Qu.:   226.0   1st Qu.:   133.0   1st Qu.:   59.25
 Median :   855   Median :   523.5   Median :   338.0   Median :  175.00
 Mean   :  3369   Mean   :  2050.3   Mean   :  1406.0   Mean   :  763.26
 3rd Qu.:  2210   3rd Qu.:  1363.8   3rd Qu.:   939.8   3rd Qu.:  534.00
 Max.   :320309   Max.   :202006.0   Max.   :138475.0   Max.   :77364.00

    male_21        male_22_to_24      male_25_to_29      male_30_to_34
 Min.   :    0.0   Min.   :     0.0   Min.   :     0.0   Min.   :     0
 1st Qu.:   60.0   1st Qu.:   193.2   1st Qu.:   313.2   1st Qu.:   322
 Median :  169.0   Median :   490.5   Median :   790.0   Median :   770
 Mean   :  749.1   Mean   :  2164.0   Mean   :  3621.4   Mean   :  3462
 3rd Qu.:  506.8   3rd Qu.:  1407.0   3rd Qu.:  2146.8   3rd Qu.:  2096
 Max.   :78027.0   Max.   :227674.0   Max.   :424133.0   Max.   :388004

 male_35_to_39      male_40_to_44    male_45_to_49      male_50_to_54
 Min.   :     0.0   Min.   :     2   Min.   :     0.0   Min.   :     0.0
 1st Qu.:   317.2   1st Qu.:   316   1st Qu.:   334.2   1st Qu.:   392.2
 Median :   765.0   Median :   786   Median :   830.5   Median :   909.0
 Mean   :  3237.0   Mean   :  3206   Mean   :  3301.8   Mean   :  3458.3
 3rd Qu.:  2015.8   3rd Qu.:  2044   3rd Qu.:  2145.0   3rd Qu.:  2365.5
 Max.   :352715.0   Max.   :344565   Max.   :346873.0   Max.   :336491.0

 male_55_to_59      male_60_61       male_62_64     male_65_to_66
 Min.   :     6   Min.   :     0   Min.   :     0   Min.   :    0.0
 1st Qu.:   406   1st Qu.:   157   1st Qu.:   221   1st Qu.:  136.0
 Median :   916   Median :   363   Median :   501   Median :  319.0
 Mean   :  3321   Mean   :  1244   Mean   :  1687   Mean   : 1046.1
 3rd Qu.:  2340   3rd Qu.:   912   3rd Qu.:  1274   3rd Qu.:  805.8
 Max.   :304382   Max.   :110812   Max.   :142602   Max.   :87048.0

 male_67_to_69      male_70_to_74      male_75_to_79     male_80_to_84
 Min.   :     0.0   Min.   :     0.0   Min.   :    0.0   Min.   :    0.0
 1st Qu.:   178.2   1st Qu.:   246.2   1st Qu.:  166.0   1st Qu.:  106.0
 Median :   415.5   Median :   533.0   Median :  370.5   Median :  236.0
 Mean   :  1348.0   Mean   :  1698.1   Mean   : 1163.1   Mean   :  774.5
 3rd Qu.:  1063.8   3rd Qu.:  1357.0   3rd Qu.:  910.8   3rd Qu.:  580.8
 Max.   :105052.0   Max.   :131080.0   Max.   :92494.0   Max.   :65707.0

 male_85_and_over  female_under_5   female_5_to_9    female_10_to_14
 Min.   :    0.0   Min.   :     0   Min.   :     0   Min.   :     0
 1st Qu.:   82.0   1st Qu.:   307   1st Qu.:   327   1st Qu.:   336
 Median :  185.5   Median :   738   Median :   792   Median :   811
 Mean   :  671.4   Mean   :  3088   Mean   :  3187   Mean   :  3223
 3rd Qu.:  461.8   3rd Qu.:  1938   3rd Qu.:  2071   3rd Qu.:  2148
 Max.   :63825.0   Max.   :308222   Max.   :303675   Max.   :305662

 female_15_to_17  female_18_to_19      female_20         female_21
 Min.   :     0   Min.   :     0.0   Min.   :    0.0   Min.   :    0.0
 1st Qu.:   208   1st Qu.:   113.0   1st Qu.:   47.0   1st Qu.:   50.0
 Median :   494   Median :   287.5   Median :  151.0   Median :  148.0
 Mean   :  1957   Mean   :  1340.5   Mean   :  718.9   Mean   :  708.1
 3rd Qu.:  1270   3rd Qu.:   884.8   3rd Qu.:  486.8   3rd Qu.:  471.0
 Max.   :193703   Max.   :135187.0   Max.   :75554.0   Max.   :72207.0

 female_22_to_24    female_25_to_29    female_30_to_34  female_35_to_39
 Min.   :     0.0   Min.   :     0.0   Min.   :     0   Min.   :     0.0
 1st Qu.:   170.0   1st Qu.:   283.0   1st Qu.:   285   1st Qu.:   290.5
 Median :   429.5   Median :   708.5   Median :   722   Median :   721.0
 Mean   :  2058.4   Mean   :  3510.0   Mean   :  3424   Mean   :  3252.3
 3rd Qu.:  1256.0   3rd Qu.:  2007.5   3rd Qu.:  2010   3rd Qu.:  1954.0
 Max.   :225803.0   Max.   :407143.0   Max.   :374615   Max.   :349879.0

 female_40_to_44    female_45_to_49    female_50_to_54  female_55_to_59
 Min.   :     0.0   Min.   :     3.0   Min.   :     0   Min.   :     7
 1st Qu.:   303.2   1st Qu.:   325.0   1st Qu.:   381   1st Qu.:   403
 Median :   753.0   Median :   791.5   Median :   911   Median :   943
 Mean   :  3244.4   Mean   :  3369.6   Mean   :  3585   Mean   :  3530
 3rd Qu.:  2018.0   3rd Qu.:  2154.8   3rd Qu.:  2394   3rd Qu.:  2475
 Max.   :350696.0   Max.   :351175.0   Max.   :346708   Max.   :324131

 female_60_to_61    female_62_to_64    female_65_to_66   female_67_to_69
 Min.   :     0.0   Min.   :     0.0   Min.   :    0.0   Min.   :     0.0
 1st Qu.:   157.0   1st Qu.:   218.0   1st Qu.:  135.0   1st Qu.:   187.0
 Median :   380.0   Median :   526.5   Median :  332.0   Median :   443.5
 Mean   :  1339.0   Mean   :  1847.6   Mean   : 1159.8   Mean   :  1515.1
 3rd Qu.:   941.5   3rd Qu.:  1321.8   3rd Qu.:  845.8   3rd Qu.:  1138.8
 Max.   :120114.0   Max.   :161829.0   Max.   :97862.0   Max.   :125281.0

 female_70_to_74  female_75_to_79    female_80_to_84   female_85_and_over
 Min.   :     0   Min.   :     0.0   Min.   :    0.0   Min.   :     0.0
 1st Qu.:   256   1st Qu.:   196.2   1st Qu.:  141.2   1st Qu.:   156.0
 Median :   581   Median :   447.0   Median :  321.0   Median :   352.5
 Mean   :  1986   Mean   :  1451.6   Mean   : 1094.3   Mean   :  1283.3
 3rd Qu.:  1502   3rd Qu.:  1095.2   3rd Qu.:  801.8   3rd Qu.:   873.5
 Max.   :164340   Max.   :122687.0   Max.   :95940.0   Max.   :113668.0

 white_including_hispanic black_including_hispanic
 Min.   :     18          Min.   :      0
 1st Qu.:   8981          1st Qu.:    104

In [ ]:
# looking at the type of data for each variable
str(cases)

Classes 'spec_tbl_df', 'tbl_df', 'tbl' and 'data.frame':	3142 obs. of  259 variables:
 $ county_fips_code                                              : chr  "50009" "50007" "10001" "44009" ...
 $ county_name                                                   : chr  "Essex County" "Chittenden County" "Kent County" "Washington County" ...
 $ state                                                         : chr  "VT" "VT" "DE" "RI" ...
 $ state_fips_code                                               : chr  "50" "50" "10" "44" ...
 $ date                                                          : Date, format: "2021-01-19" "2021-01-19" ...
 $ confirmed_cases                                               : num  111 3636 11548 5521 2496 ...
 $ deaths                                                        : num  0 78 187 122 79 6 1 125 5 4 ...
 $ geo_id                                                        : chr  "50009" "50007" "10001" "44009" ...
 $ nonfamily_households                                          : num  994 27549 19148 16912 8260 ...
 $ family_households                                             : num  1726 37357 44233 32696 16319 ...
 $ median_year_structure_built                                   : num  1973 1978 1991 1974 1977 ...
 $ rent_burden_not_computed                                      : num  64 1158 1358 1312 398 ...
 $ rent_over_50_percent                                          : num  97 6620 4408 3429 1351 ...
 $ rent_40_to_50_percent                                         : num  67 2083 1904 960 441 ...
 $ rent_35_to_40_percent                                         : num  16 1616 1397 723 375 ...
 $ rent_30_to_35_percent                                         : num  54 2362 1719 911 444 ...
 $ rent_25_to_30_percent                                         : num  49 2750 2238 1705 773 ...
 $ rent_20_to_25_percent                                         : num  96 3422 2186 1443 762 ...
 $ rent_15_to_20_percent                                         : num  75 2258 2266 1262 832 ...
 $ rent_10_to_15_percent                                         : num  30 1331 1206 1253 399 ...
 $ rent_under_10_percent                                         : num  24 326 567 253 185 649 60 341 159 159 ...
 $ total_pop                                                     : num  6203 160985 173145 126190 60383 ...
 $ male_pop                                                      : num  3135 78928 83544 61154 29705 ...
 $ female_pop                                                    : num  3068 82057 89601 65036 30678 ...
 $ median_age                                                    : num  50 36.6 37.3 44.1 46.7 44.6 40.5 37.9 43.4 43.7 ...
 $ white_pop                                                     : num  5929 143657 108627 115206 57523 ...
 $ black_pop                                                     : num  64 4091 41729 1621 285 ...
 $ asian_pop                                                     : num  32 6144 3459 2436 579 ...
 $ hispanic_pop                                                  : num  83 3542 11820 3769 951 ...
 $ amerindian_pop                                                : num  20 374 967 1047 130 ...
 $ other_race_pop                                                : num  6 240 377 260 65 159 0 336 57 9 ...
 $ two_or_more_races_pop                                         : num  69 2892 6121 1760 834 ...
 $ not_hispanic_pop                                              : num  6120 157443 161325 122421 59432 ...
 $ commuters_by_public_transportation                            : num  4 2336 903 702 11 ...
 $ households                                                    : num  2720 64906 63381 49608 24579 ...
 $ median_income                                                 : num  38767 66906 57647 77862 65834 ...
 $ income_per_capita                                             : num  23022 36384 27420 39568 33849 ...
 $ housing_units                                                 : num  5125 68453 69506 63450 38148 ...
 $ vacant_housing_units                                          : num  2405 3547 6125 13842 13569 ...
 $ vacant_housing_units_for_rent                                 : num  34 470 1005 412 290 ...
 $ vacant_housing_units_for_sale                                 : num  31 253 1113 597 512 ...
 $ median_rent                                                   : num  595 1068 833 938 824 ...
 $ percent_income_spent_on_rent                                  : num  28 32.7 31.4 30.3 28.9 28.8 29.1 30.5 28 30.4 ...
 $ owner_occupied_housing_units                                  : num  2148 40980 44132 36357 18619 ...
 $ million_dollar_housing_units                                  : num  0 275 76 594 323 756 135 149 81 38 ...
 $ mortgaged_housing_units                                       : num  1084 28210 29247 24856 11806 ...
 $ families_with_young_children                                  : num  327 9127 12768 5534 3127 ...
 $ two_parent_families_with_young_children                       : num  159 6866 7373 4306 1769 ...
 $ two_parents_in_labor_force_families_with_young_children       : num  99 4588 4557 2841 1291 ...
 $ two_parents_father_in_labor_force_families_with_young_children: num  58 2077 2495 1258 429 ...
 $ two_parents_mother_in_labor_force_families_with_young_children: num  2 139 226 97 41 217 46 54 4 23 ...
 $ two_parents_not_in_labor_force_families_with_young_children   : num  0 62 95 110 8 30 2 49 17 22 ...
 $ one_parent_families_with_young_children                       : num  168 2261 5395 1228 1358 ...
 $ father_one_parent_families_with_young_children                : num  62 561 890 290 332 126 141 404 84 242 ...
 $ father_in_labor_force_one_parent_families_with_young_children : num  58 546 813 237 319 105 135 326 74 72 ...
 $ commute_10_14_mins                                            : num  347 13876 12595 7626 4264 ...
 $ commute_15_19_mins                                            : num  265 16251 12523 7676 3913 ...
 $ commute_20_24_mins                                            : num  375 14270 10373 8756 3409 ...
 $ commute_25_29_mins                                            : num  180 6578 3900 3692 1435 ...
 $ commute_30_34_mins                                            : num  281 10318 7839 8437 3536 ...
 $ commute_45_59_mins                                            : num  256 3539 5923 5080 2705 ...
 $ aggregate_travel_time_to_work                                 : num  65350 1763730 1975260 1551355 756695 ...
 $ income_less_10000                                             : num  208 3080 3732 2337 1121 ...
 $ income_10000_14999                                            : num  224 2755 2763 2057 796 ...
 $ income_15000_19999                                            : num  241 2825 2838 1642 1342 ...
 $ income_20000_24999                                            : num  199 2736 3037 2025 947 ...
 $ income_25000_29999                                            : num  161 2371 2900 1515 990 ...
 $ income_30000_34999                                            : num  195 2716 3967 1565 1144 ...
 $ income_35000_39999                                            : num  169 2554 2933 2116 1071 ...
 $ income_40000_44999                                            : num  139 2923 3054 1563 1006 ...
 $ income_45000_49999                                            : num  114 2224 2435 1514 948 ...
 $ income_50000_59999                                            : num  199 4915 5514 3103 2017 ...
 $ income_60000_74999                                            : num  301 6479 7464 4581 2510 ...
 $ income_75000_99999                                            : num  302 8924 8768 6520 3945 ...
 $ income_100000_124999                                          : num  144 6929 5489 5778 2654 ...
 $ income_125000_149999                                          : num  49 4686 3215 4175 1232 ...
 $ income_150000_199999                                          : num  52 4191 3169 4558 1615 ...
 $ income_200000_or_more                                         : num  23 4598 2103 4559 1241 ...
 $ renter_occupied_housing_units_paying_cash_median_gross_rent   : num  688 1186 1030 1086 933 ...
 $ owner_occupied_housing_units_lower_value_quartile             : num  83300 209500 145400 239500 151600 ...
 $ owner_occupied_housing_units_median_value                     : num  128900 280000 205800 320600 220400 ...
 $ owner_occupied_housing_units_upper_value_quartile             : num  197900 384000 277300 431600 319000 ...
 $ married_households                                            : num  1362 30000 31088 26684 13162 ...
 $ occupied_housing_units                                        : num  2720 64906 63381 49608 24579 ...
 $ housing_units_renter_occupied                                 : num  572 23926 19249 13251 5960 ...
 $ dwellings_1_units_detached                                    : num  4283 35228 46344 48406 27460 ...
 $ dwellings_1_units_attached                                    : num  9 5904 5944 2231 1331 ...
 $ dwellings_2_units                                             : num  134 4949 852 3368 1614 ...
 $ dwellings_3_to_4_units                                        : num  95 6624 1056 2950 1675 ...
 $ dwellings_5_to_9_units                                        : num  117 4758 1729 1481 1400 ...
 $ dwellings_10_to_19_units                                      : num  6 1876 3119 1314 614 ...
 $ dwellings_20_to_49_units                                      : num  28 3467 1075 985 637 ...
 $ dwellings_50_or_more_units                                    : num  0 2694 745 1137 360 ...
 $ mobile_homes                                                  : num  453 2945 8572 1544 3057 ...
 $ housing_built_2005_or_later                                   : num  25 688 1033 323 275 ...
 $ housing_built_2000_to_2004                                    : num  67 2021 3708 849 449 ...
 $ housing_built_1939_or_earlier                                 : num  208 2046 1776 3099 1641 ...
 $ male_under_5                                                  : num  143 4049 5613 2424 1357 ...
 $ male_5_to_9                                                   : num  168 4214 5369 2919 1788 ...
  [list output truncated]
 - attr(*, "spec")=
  .. cols(
  ..   county_fips_code = col_character(),
  ..   county_name = col_character(),
  ..   state = col_character(),
  ..   state_fips_code = col_character(),
  ..   date = col_date(format = ""),
  ..   confirmed_cases = col_double(),
  ..   deaths = col_double(),
  ..   geo_id = col_character(),
  ..   nonfamily_households = col_double(),
  ..   family_households = col_double(),
  ..   median_year_structure_built = col_double(),
  ..   rent_burden_not_computed = col_double(),
  ..   rent_over_50_percent = col_double(),
  ..   rent_40_to_50_percent = col_double(),
  ..   rent_35_to_40_percent = col_double(),
  ..   rent_30_to_35_percent = col_double(),
  ..   rent_25_to_30_percent = col_double(),
  ..   rent_20_to_25_percent = col_double(),
  ..   rent_15_to_20_percent = col_double(),
  ..   rent_10_to_15_percent = col_double(),
  ..   rent_under_10_percent = col_double(),
  ..   total_pop = col_double(),
  ..   male_pop = col_double(),
  ..   female_pop = col_double(),
  ..   median_age = col_double(),
  ..   white_pop = col_double(),
  ..   black_pop = col_double(),
  ..   asian_pop = col_double(),
  ..   hispanic_pop = col_double(),
  ..   amerindian_pop = col_double(),
  ..   other_race_pop = col_double(),
  ..   two_or_more_races_pop = col_double(),
  ..   not_hispanic_pop = col_double(),
  ..   commuters_by_public_transportation = col_double(),
  ..   households = col_double(),
  ..   median_income = col_double(),
  ..   income_per_capita = col_double(),
  ..   housing_units = col_double(),
  ..   vacant_housing_units = col_double(),
  ..   vacant_housing_units_for_rent = col_double(),
  ..   vacant_housing_units_for_sale = col_double(),
  ..   median_rent = col_double(),
  ..   percent_income_spent_on_rent = col_double(),
  ..   owner_occupied_housing_units = col_double(),
  ..   million_dollar_housing_units = col_double(),
  ..   mortgaged_housing_units = col_double(),
  ..   families_with_young_children = col_double(),
  ..   two_parent_families_with_young_children = col_double(),
  ..   two_parents_in_labor_force_families_with_young_children = col_double(),
  ..   two_parents_father_in_labor_force_families_with_young_children = col_double(),
  ..   two_parents_mother_in_labor_force_families_with_young_children = col_double(),
  ..   two_parents_not_in_labor_force_families_with_young_children = col_double(),
  ..   one_parent_families_with_young_children = col_double(),
  ..   father_one_parent_families_with_young_children = col_double(),
  ..   father_in_labor_force_one_parent_families_with_young_children = col_double(),
  ..   commute_10_14_mins = col_double(),
  ..   commute_15_19_mins = col_double(),
  ..   commute_20_24_mins = col_double(),
  ..   commute_25_29_mins = col_double(),
  ..   commute_30_34_mins = col_double(),
  ..   commute_45_59_mins = col_double(),
  ..   aggregate_travel_time_to_work = col_double(),
  ..   income_less_10000 = col_double(),
  ..   income_10000_14999 = col_double(),
  ..   income_15000_19999 = col_double(),
  ..   income_20000_24999 = col_double(),
  ..   income_25000_29999 = col_double(),
  ..   income_30000_34999 = col_double(),
  ..   income_35000_39999 = col_double(),
  ..   income_40000_44999 = col_double(),
  ..   income_45000_49999 = col_double(),
  ..   income_50000_59999 = col_double(),
  ..   income_60000_74999 = col_double(),
  ..   income_75000_99999 = col_double(),
  ..   income_100000_124999 = col_double(),
  ..   income_125000_149999 = col_double(),
  ..   income_150000_199999 = col_double(),
  ..   income_200000_or_more = col_double(),
  ..   renter_occupied_housing_units_paying_cash_median_gross_rent = col_double(),
  ..   owner_occupied_housing_units_lower_value_quartile = col_double(),
  ..   owner_occupied_housing_units_median_value = col_double(),
  ..   owner_occupied_housing_units_upper_value_quartile = col_double(),
  ..   married_households = col_double(),
  ..   occupied_housing_units = col_double(),
  ..   housing_units_renter_occupied = col_double(),
  ..   dwellings_1_units_detached = col_double(),
  ..   dwellings_1_units_attached = col_double(),
  ..   dwellings_2_units = col_double(),
  ..   dwellings_3_to_4_units = col_double(),
  ..   dwellings_5_to_9_units = col_double(),
  ..   dwellings_10_to_19_units = col_double(),
  ..   dwellings_20_to_49_units = col_double(),
  ..   dwellings_50_or_more_units = col_double(),
  ..   mobile_homes = col_double(),
  ..   housing_built_2005_or_later = col_double(),
  ..   housing_built_2000_to_2004 = col_double(),
  ..   housing_built_1939_or_earlier = col_double(),
  ..   male_under_5 = col_double(),
  ..   male_5_to_9 = col_double(),
  ..   male_10_to_14 = col_double(),
  ..   male_15_to_17 = col_double(),
  ..   male_18_to_19 = col_double(),
  ..   male_20 = col_double(),
  ..   male_21 = col_double(),
  ..   male_22_to_24 = col_double(),
  ..   male_25_to_29 = col_double(),
  ..   male_30_to_34 = col_double(),
  ..   male_35_to_39 = col_double(),
  ..   male_40_to_44 = col_double(),
  ..   male_45_to_49 = col_double(),
  ..   male_50_to_54 = col_double(),
  ..   male_55_to_59 = col_double(),
  ..   male_60_61 = col_double(),
  ..   male_62_64 = col_double(),
  ..   male_65_to_66 = col_double(),
  ..   male_67_to_69 = col_double(),
  ..   male_70_to_74 = col_double(),
  ..   male_75_to_79 = col_double(),
  ..   male_80_to_84 = col_double(),
  ..   male_85_and_over = col_double(),
  ..   female_under_5 = col_double(),
  ..   female_5_to_9 = col_double(),
  ..   female_10_to_14 = col_double(),
  ..   female_15_to_17 = col_double(),
  ..   female_18_to_19 = col_double(),
  ..   female_20 = col_double(),
  ..   female_21 = col_double(),
  ..   female_22_to_24 = col_double(),
  ..   female_25_to_29 = col_double(),
  ..   female_30_to_34 = col_double(),
  ..   female_35_to_39 = col_double(),
  ..   female_40_to_44 = col_double(),
  ..   female_45_to_49 = col_double(),
  ..   female_50_to_54 = col_double(),
  ..   female_55_to_59 = col_double(),
  ..   female_60_to_61 = col_double(),
  ..   female_62_to_64 = col_double(),
  ..   female_65_to_66 = col_double(),
  ..   female_67_to_69 = col_double(),
  ..   female_70_to_74 = col_double(),
  ..   female_75_to_79 = col_double(),
  ..   female_80_to_84 = col_double(),
  ..   female_85_and_over = col_double(),
  ..   white_including_hispanic = col_double(),
  ..   black_including_hispanic = col_double(),
  ..   amerindian_including_hispanic = col_double(),
  ..   asian_including_hispanic = col_double(),
  ..   commute_5_9_mins = col_double(),
  ..   commute_35_39_mins = col_double(),
  ..   commute_40_44_mins = col_double(),
  ..   commute_60_89_mins = col_double(),
  ..   commute_90_more_mins = col_double(),
  ..   households_retirement_income = col_double(),
  ..   armed_forces = col_double(),
  ..   civilian_labor_force = col_double(),
  ..   employed_pop = col_double(),
  ..   unemployed_pop = col_double(),
  ..   not_in_labor_force = col_double(),
  ..   pop_16_over = col_double(),
  ..   pop_in_labor_force = col_double(),
  ..   asian_male_45_54 = col_double(),
  ..   asian_male_55_64 = col_double(),
  ..   black_male_45_54 = col_double(),
  ..   black_male_55_64 = col_double(),
  ..   hispanic_male_45_54 = col_double(),
  ..   hispanic_male_55_64 = col_double(),
  ..   white_male_45_54 = col_double(),
  ..   white_male_55_64 = col_double(),
  ..   bachelors_degree_2 = col_double(),
  ..   bachelors_degree_or_higher_25_64 = col_double(),
  ..   children = col_double(),
  ..   children_in_single_female_hh = col_double(),
  ..   commuters_by_bus = col_double(),
  ..   commuters_by_car_truck_van = col_double(),
  ..   commuters_by_carpool = col_double(),
  ..   commuters_by_subway_or_elevated = col_double(),
  ..   commuters_drove_alone = col_double(),
  ..   different_house_year_ago_different_city = col_double(),
  ..   different_house_year_ago_same_city = col_double(),
  ..   employed_agriculture_forestry_fishing_hunting_mining = col_double(),
  ..   employed_arts_entertainment_recreation_accommodation_food = col_double(),
  ..   employed_construction = col_double(),
  ..   employed_education_health_social = col_double(),
  ..   employed_finance_insurance_real_estate = col_double(),
  ..   employed_information = col_double(),
  ..   employed_manufacturing = col_double(),
  ..   employed_other_services_not_public_admin = col_double(),
  ..   employed_public_administration = col_double(),
  ..   employed_retail_trade = col_double(),
  ..   employed_science_management_admin_waste = col_double(),
  ..   employed_transportation_warehousing_utilities = col_double(),
  ..   employed_wholesale_trade = col_double(),
  ..   female_female_households = col_double(),
  ..   four_more_cars = col_double(),
  ..   gini_index = col_double(),
  ..   graduate_professional_degree = col_double(),
  ..   group_quarters = col_double(),
  ..   high_school_including_ged = col_double(),
  ..   households_public_asst_or_food_stamps = col_double(),
  ..   in_grades_1_to_4 = col_double(),
  ..   in_grades_5_to_8 = col_double(),
  ..   in_grades_9_to_12 = col_double(),
  ..   in_school = col_double(),
  ..   in_undergrad_college = col_double(),
  ..   less_than_high_school_graduate = col_double(),
  ..   male_45_64_associates_degree = col_double(),
  ..   male_45_64_bachelors_degree = col_double(),
  ..   male_45_64_graduate_degree = col_double(),
  ..   male_45_64_less_than_9_grade = col_double(),
  ..   male_45_64_grade_9_12 = col_double(),
  ..   male_45_64_high_school = col_double(),
  ..   male_45_64_some_college = col_double(),
  ..   male_45_to_64 = col_double(),
  ..   male_male_households = col_double(),
  ..   management_business_sci_arts_employed = col_double(),

In [ ]:
summary(clean_cases)

 county_fips_code   county_name           state           state_fips_code
 Length:3142        Length:3142        Length:3142        Length:3142
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




      date            confirmed_cases         deaths          total_pop
 Min.   :2021-01-19   Min.   :      0.0   Min.   :    0.0   Min.   :      74
 1st Qu.:2021-01-19   1st Qu.:    796.2   1st Qu.:   12.0   1st Qu.:   10945
 Median :2021-01-19   Median :   1916.5   Median :   31.0   Median :   25692
 Mean   :2021-01-19   Mean   :   7558.9   Mean   :  124.8   Mean   :  102166
 3rd Qu.:2021-01-19   3rd Qu.:   4955.0   3rd Qu.:   77.0   3rd Qu.:   67445
 Max.   :2021-01-19   Max.   :1002614.0   Max.   :13936.0   Max.   :10105722

    male_pop         female_pop        in_school       in_grades_1_to_4
 Min.   :     39   Min.   :     35   Min.   :      5   Min.   :     0.0
 1st Qu.:   5514   1st Qu.:   5460   1st Qu.:   2378   1st Qu.:   548.2
 Median :  12798   Median :  12885   Median :   5868   Median :  1286.5
 Mean   :  50292   Mean   :  51873   Mean   :  26019   Mean   :  5199.1
 3rd Qu.:  33481   3rd Qu.:  34108   3rd Qu.:  16345   3rd Qu.:  3414.2
 Max.   :4979641   Max.   :5126081   Max.   :2704769   Max.   :480558.0

 in_grades_5_to_8 in_grades_9_to_12  in_undergrad_college   median_age
 Min.   :     0   Min.   :     0.0   Min.   :     0       Min.   :21.60
 1st Qu.:   554   1st Qu.:   574.5   1st Qu.:   312       1st Qu.:37.90
 Median :  1318   Median :  1351.0   Median :   939       Median :41.20
 Mean   :  5250   Mean   :  5411.0   Mean   :  5951       Mean   :41.15
 3rd Qu.:  3491   3rd Qu.:  3457.0   3rd Qu.:  3360       3rd Qu.:44.20
 Max.   :495202   Max.   :559379.0   Max.   :733891       Max.   :66.40

 male_85_and_over  female_85_and_over some_college_and_associates_degree
 Min.   :    0.0   Min.   :     0.0   Min.   :     27
 1st Qu.:   82.0   1st Qu.:   156.0   1st Qu.:   2278
 Median :  185.5   Median :   352.5   Median :   5268
 Mean   :  671.4   Mean   :  1283.3   Mean   :  20004
 3rd Qu.:  461.8   3rd Qu.:   873.5   3rd Qu.:  14181
 Max.   :63825.0   Max.   :113668.0   Max.   :1782880

 associates_degree  bachelors_degree  high_school_diploma less_one_year_college
 Min.   :     5.0   Min.   :      3   Min.   :     16     Min.   :     0.0
 1st Qu.:   605.2   1st Qu.:    782   1st Qu.:   2321     1st Qu.:   510.2
 Median :  1476.5   Median :   2016   Median :   5249     Median :  1184.5
 Mean   :  5702.6   Mean   :  13169   Mean   :  16072     Mean   :  4278.4
 3rd Qu.:  4201.0   3rd Qu.:   6403   3rd Qu.:  12764     3rd Qu.:  3221.5
 Max.   :470973.0   Max.   :1384333   Max.   :1293011     Max.   :306692.0

 masters_degree     one_year_more_college graduate_professional_degree
 Min.   :     0.0   Min.   :     10       Min.   :     0.0
 1st Qu.:   289.0   1st Qu.:   1107       1st Qu.:   385.2
 Median :   789.5   Median :   2530       Median :  1044.5
 Mean   :  5778.1   Mean   :  10023       Mean   :  8119.2
 3rd Qu.:  2665.0   3rd Qu.:   6816       3rd Qu.:  3616.0
 Max.   :492924.0   Max.   :1005215       Max.   :739973.0

   C_D_Ratio       Pop_to_cases     male_0_to_24     male_25_to_34
 Min.   : 0.000   Min.   : 0.000   Min.   :      3   Min.   :     0
 1st Qu.: 1.028   1st Qu.: 5.855   1st Qu.:   1746   1st Qu.:   638
 Median : 1.548   Median : 7.551   Median :   4200   Median :  1556
 Mean   : 1.757   Mean   : 7.678   Mean   :  17053   Mean   :  7083
 3rd Qu.: 2.287   3rd Qu.: 9.299   3rd Qu.:  11220   3rd Qu.:  4230
 Max.   :18.182   Max.   :31.610   Max.   :1683858   Max.   :812137
 NA's   :3
 male_35_to_44      male_45_to_54    male_55_to_64      male_65_to_74
 Min.   :     5.0   Min.   :     0   Min.   :    15.0   Min.   :     0.0
 1st Qu.:   645.2   1st Qu.:   722   1st Qu.:   797.2   1st Qu.:   567.2
 Median :  1540.5   Median :  1727   Median :  1779.5   Median :  1270.0
 Mean   :  6442.9   Mean   :  6760   Mean   :  6252.3   Mean   :  4092.2
 3rd Qu.:  4053.5   3rd Qu.:  4497   3rd Qu.:  4534.2   3rd Qu.:  3198.0
 Max.   :697280.0   Max.   :683364   Max.   :557796.0   Max.   :323180.0

 male_75_to_84      female_0_to_24    female_25_to_34  female_35_to_44
 Min.   :     0.0   Min.   :      4   Min.   :     0   Min.   :     5.0
 1st Qu.:   285.2   1st Qu.:   1604   1st Qu.:   571   1st Qu.:   600.2
 Median :   612.5   Median :   3886   Median :  1438   Median :  1476.0
 Mean   :  1937.6   Mean   :  16281   Mean   :  6934   Mean   :  6496.7
 3rd Qu.:  1484.5   3rd Qu.:  10650   3rd Qu.:  4012   3rd Qu.:  3981.8
 Max.   :158201.0   Max.   :1620013   Max.   :781758   Max.   :700575.0

 female_45_to_54    female_55_to_64  female_65_to_74  female_75_to_84
 Min.   :     3.0   Min.   :     8   Min.   :     1   Min.   :     0.0
 1st Qu.:   708.2   1st Qu.:   789   1st Qu.:   584   1st Qu.:   344.2
 Median :  1697.5   Median :  1860   Median :  1367   Median :   763.0
 Mean   :  6954.5   Mean   :  6716   Mean   :  4661   Mean   :  2546.0
 3rd Qu.:  4555.0   3rd Qu.:  4748   3rd Qu.:  3535   3rd Qu.:  1901.5
 Max.   :697883.0   Max.   :606074   Max.   :387483   Max.   :218627.0

**Verify data quality: Are there missing values? Duplicate Data? Outliers? Are those 
mistakes? How can these be fixed?**

In [ ]:
str(clean_cases)

Classes 'tbl_df', 'tbl' and 'data.frame':	3142 obs. of  42 variables:
 $ county_fips_code                  : chr  "50009" "50007" "10001" "44009" ...
 $ county_name                       : chr  "Essex County" "Chittenden County" "Kent County" "Washington County" ...
 $ state                             : chr  "VT" "VT" "DE" "RI" ...
 $ state_fips_code                   : chr  "50" "50" "10" "44" ...
 $ date                              : Date, format: "2021-01-19" "2021-01-19" ...
 $ confirmed_cases                   : num  111 3636 11548 5521 2496 ...
 $ deaths                            : num  0 78 187 122 79 6 1 125 5 4 ...
 $ total_pop                         : num  6203 160985 173145 126190 60383 ...
 $ male_pop                          : num  3135 78928 83544 61154 29705 ...
 $ female_pop                        : num  3068 82057 89601 65036 30678 ...
 $ in_school                         : num  1106 46011 47229 34665 12818 ...
 $ in_grades_1_to_4                  : num  253 6033 8561 4912 2716 ...
 $ in_grades_5_to_8                  : num  241 6614 9416 5488 2833 ...
 $ in_grades_9_to_12                 : num  301 8015 9162 6357 2931 ...
 $ in_undergrad_college              : num  149 17354 12544 13658 2574 ...
 $ median_age                        : num  50 36.6 37.3 44.1 46.7 44.6 40.5 37.9 43.4 43.7 ...
 $ male_85_and_over                  : num  89 964 1056 923 800 ...
 $ female_85_and_over                : num  92 2179 1608 2182 917 ...
 $ some_college_and_associates_degree: num  1142 25605 35143 22271 13964 ...
 $ associates_degree                 : num  489 8839 9690 7581 4518 ...
 $ bachelors_degree                  : num  427 30524 16509 21818 8666 ...
 $ high_school_diploma               : num  1914 18473 32509 16497 11379 ...
 $ less_one_year_college             : num  156 4868 7382 4244 3500 ...
 $ masters_degree                    : num  205 14735 7513 11762 3883 ...
 $ one_year_more_college             : num  497 11898 18071 10446 5946 ...
 $ graduate_professional_degree      : num  263 21722 10328 16641 5327 ...
 $ C_D_Ratio                         : num  0 2.15 1.62 2.21 3.17 ...
 $ Pop_to_cases                      : num  1.79 2.26 6.67 4.38 4.13 ...
 $ male_0_to_24                      : num  787 28271 30018 20436 8161 ...
 $ male_25_to_34                     : num  253 11232 11365 5665 3076 ...
 $ male_35_to_44                     : num  327 9192 9427 6012 3201 ...
 $ male_45_to_54                     : num  460 10555 10847 8898 4515 ...
 $ male_55_to_64                     : num  556 10273 9797 9699 5013 ...
 $ male_65_to_74                     : num  469 5913 7525 6577 3638 ...
 $ male_75_to_84                     : num  194 2528 3509 2944 1301 ...
 $ female_0_to_24                    : num  709 27455 28967 20310 7753 ...
 $ female_25_to_34                   : num  268 10878 11626 5655 3154 ...
 $ female_35_to_44                   : num  313 9345 10701 6341 3446 ...
 $ female_45_to_54                   : num  491 11116 11795 9636 4573 ...
 $ female_55_to_64                   : num  554 10826 11269 10140 5225 ...
 $ female_65_to_74                   : num  419 6784 8814 7048 3780 ...
 $ female_75_to_84                   : num  222 3474 4821 3724 1830 ...

In [ ]:
missing_values2 <- is.na(clean_cases)
sum(missing_values2)

[1] 3

In [ ]:
colSums(missing_values2)

                  county_fips_code                        county_name
                                 0                                  0
                             state                    state_fips_code
                                 0                                  0
                              date                    confirmed_cases
                                 0                                  0
                            deaths                          total_pop
                                 0                                  0
                          male_pop                         female_pop
                                 0                                  0
                         in_school                   in_grades_1_to_4
                                 0                                  0
                  in_grades_5_to_8                  in_grades_9_to_12
                                 0                                  0
              in_undergrad_college                         median_age
                                 0                                  0
                  male_85_and_over                 female_85_and_over
                                 0                                  0
some_college_and_associates_degree                  associates_degree
                                 0                                  0
                  bachelors_degree                high_school_diploma
                                 0                                  0
             less_one_year_college                     masters_degree
                                 0                                  0
             one_year_more_college       graduate_professional_degree
                                 0                                  0
                         C_D_Ratio                       Pop_to_cases
                                 3                                  0
                      male_0_to_24                      male_25_to_34
                                 0                                  0
                     male_35_to_44                      male_45_to_54
                                 0                                  0
                     male_55_to_64                      male_65_to_74
                                 0                                  0
                     male_75_to_84                     female_0_to_24
                                 0                                  0
                   female_25_to_34                    female_35_to_44
                                 0                                  0
                   female_45_to_54                    female_55_to_64
                                 0                                  0
                   female_65_to_74                    female_75_to_84
                                 0                                  0

In [ ]:
# checking for duplicated values
any(duplicated(clean_cases))

[1] FALSE

In [ ]:
# checking for outliers
dim(cases)

[1] 3142  259

In [ ]:
dim(clean_cases)

[1] 3142   42

In [ ]:
# checking for number of states
length(unique(clean_cases$state))

[1] 51

In [ ]:
# checking the actual unique values of state
unique(clean_cases$state)

 [1] "VT" "DE" "RI" "NH" "CT" "MA" "HI" "DC" "AK" "AL" "AR" "AZ" "CA" "CO" "FL"
[16] "GA" "IA" "ID" "IL" "IN" "KS" "KY" "LA" "MD" "ME" "MI" "MN" "MO" "MS" "MT"
[31] "NC" "ND" "NE" "NJ" "NM" "NV" "NY" "OH" "OK" "OR" "PA" "SC" "SD" "TN" "TX"
[46] "UT" "VA" "WA" "WI" "WV" "WY"

In [ ]:
# finding the correlation between confirmed_cases and other variables
int_variables <- clean_cases[, sapply(clean_cases, is.numeric)]
part_correlation = int_variables[,1:10]
corr_matrix <- cor(part_correlation)
print(corr_matrix)

                     confirmed_cases    deaths total_pop  male_pop female_pop
confirmed_cases            1.0000000 0.8928267 0.9667718 0.9671239  0.9662121
deaths                     0.8928267 1.0000000 0.9053681 0.9015798  0.9088153
total_pop                  0.9667718 0.9053681 1.0000000 0.9998798  0.9998883
male_pop                   0.9671239 0.9015798 0.9998798 1.0000000  0.9995363
female_pop                 0.9662121 0.9088153 0.9998883 0.9995363  1.0000000
in_school                  0.9692603 0.8944993 0.9973342 0.9975759  0.9968740
in_grades_1_to_4           0.9620434 0.8859579 0.9919943 0.9923795  0.9913971
in_grades_5_to_8           0.9653547 0.8869411 0.9932701 0.9937129  0.9926170
in_grades_9_to_12          0.9718409 0.8930705 0.9941666 0.9945715  0.9935497
in_undergrad_college       0.9592836 0.8779046 0.9807567 0.9811732  0.9801318
                     in_school in_grades_1_to_4 in_grades_5_to_8
confirmed_cases      0.9692603        0.9620434        0.9653547
deaths               0.8944993        0.8859579        0.8869411
total_pop            0.9973342        0.9919943        0.9932701
male_pop             0.9975759        0.9923795        0.9937129
female_pop           0.9968740        0.9913971        0.9926170
in_school            1.0000000        0.9949372        0.9962710
in_grades_1_to_4     0.9949372        1.0000000        0.9988438
in_grades_5_to_8     0.9962710        0.9988438        1.0000000
in_grades_9_to_12    0.9969011        0.9957835        0.9981934
in_undergrad_college 0.9853455        0.9650613        0.9687878
                     in_grades_9_to_12 in_undergrad_college
confirmed_cases              0.9718409            0.9592836
deaths                       0.8930705            0.8779046
total_pop                    0.9941666            0.9807567
male_pop                     0.9945715            0.9811732
female_pop                   0.9935497            0.9801318
in_school                    0.9969011            0.9853455
in_grades_1_to_4             0.9957835            0.9650613
in_grades_5_to_8             0.9981934            0.9687878
in_grades_9_to_12            1.0000000            0.9740825
in_undergrad_college         0.9740825            1.0000000

In [ ]:
ascended_educated <- educated_people %>% arrange(desc(confirmed_cases))
ascended_educated

     county_name               state confirmed_cases deaths in_school
1    Los Angeles County        CA    1002614         13936  2704769
2    Cook County               IL     435888          8544  1331311
3    Maricopa County           AZ     425844          6443  1093894
4    Miami-Dade County         FL     347965          4622   661957
5    Harris County             TX     286356          3825  1264758
6    San Bernardino County     CA     252808          1560   621531
7    Riverside County          CA     244151          2517   668113
8    Dallas County             TX     234625          2453   685116
9    San Diego County          CA     214335          2103   874844
10   Orange County             CA     213866          2367   862152
11   Clark County              NV     202471          2873   510037
12   Tarrant County            TX     195518          1798   556646
13   Broward County            FL     160514          1990   478405
14   Queens County             NY     154688          7871   548550
15   Bexar County              TX     152231          2040   533711
16   Kings County              NY     151973          8073   662415
17   Suffolk County            NY     128580          2603   375657
18   Salt Lake County          UT     123304           626   324448
19   Nassau County             NY     114969          2563   345888
20   El Paso County            TX     107552          1940   258209
21   Bronx County              NY     102227          5275   406578
22   Milwaukee County          WI      99867          1102   257495
23   Palm Beach County         FL      98692          2059   320157
24   Franklin County           OH      98533           705   335027
25   Philadelphia County       PA      98479          2732   403818
26   Orange County             FL      94273           850   356288
27   Middlesex County          MA      93861          2969   413398
28   Santa Clara County        CA      93688          1076   510417
29   Hillsborough County       FL      93487          1197   350891
30   Hennepin County           MN      93101          1480   308128
...  ...                       ...   ...             ...    ...
3113 Sierra County             CA    40              0      462
3114 Keya Paha County          NE    39              0      144
3115 Petersburg Census Area    AK    38              0      678
3116 Loup County               NE    38              0       86
3117 San Juan County           CO    34              0       88
3118 Esmeralda County          NV    34              0      172
3119 Daggett County            UT    33              0      138
3120 Wheeler County            NE    32              0      145
3121 Slope County              ND    30              0      103
3122 Sioux County              NE    30              0      240
3123 Kenedy County             TX    30              2      136
3124 Aleutians East Borough    AK    29              0      451
3125 Banner County             NE    26              0      149
3126 McPherson County          NE    23              1       75
3127 Grant County              NE    22              4      153
3128 Wheeler County            OR    20              1      230
3129 Wrangell City and Borough AK    18              0      477
3130 Arthur County             NE    18              0      149
3131 Blaine County             NE    18              0      102
3132 Borden County             TX    18              0      108
3133 Skagway Municipality      AK    15              0      158
3134 Haines Borough            AK    15              0      425
3135 Hinsdale County           CO    15              0      141
3136 Petroleum County          MT    11              1       65
3137 King County               TX    11              0       64
3138 Harding County            NM     8              0       86
3139 Loving County             TX     1              0        7
3140 Kalawao County            HI     0              0        5
3141 Bristol Bay Borough       AK     0              0      214
3142 Yakutat City and Borough  AK     0              0      131
     in_grades_1_to_4 in_grades_5_to_8 in_grades_9_to_12 in_undergrad_college
1    480558           495202           559379            733891
2    258232           258293           268858            287967
3    230527           230823           235482            233414
4    120899           121521           130062            173718
5    281438           265853           262452            245703
6    123139           129272           142887            141654
7    134903           141419           153822            151737
8    159206           148049           143161            120540
9    154677           159913           169444            245570
10   152101           164590           175723            233022
11   114088           110799           113583            100425
12   123418           117956           116524            109249
13    91675            91900            99148            112594
14   103015           100419           104892            141411
15   112852           108652           107870            120002
16   131438           124569           128495            145577
17    72652            76474            85753             81274
18    70176            66626            67080             65110
19    64392            66780            76464             77248
20    51972            52404            54583             61987
21    83849            79880            86161             94052
22    52475            50278            50008             60369
23    61412            63369            68612             72673
24    64798            60596            61445             85147
25    72651            71693            74023            101681
26    64677            64869            66136            104232
27    68868            71253            78308            100473
28    95601            99149            95763            125390
29    69761            67574            70752             85362
30    59678            57782            59788             70258
...  ...              ...              ...               ...
3113 121              112              130               48
3114  21               37               34               22
3115 178              156              155               61
3116  15               12               27                8
3117  10               31               25               15
3118  90               45               28                0
3119  36               51               26                8
3120  27               20               45               29
3121  39               10               27                2
3122  65               46               37               34
3123  36               67               28                5
3124  93              119              133               24
3125  42               35               48                8
3126  23               25               19                0
3127  26               26               35               32
3128  46               45               51               50
3129  66              125              138               81
3130  32               48               18               17
3131  20               24               34               17
3132  32               28               31               11
3133  35               19               35               42
3134 128               84              109               47
3135  24               35               60                9
3136  11               27               22                0
3137  21               11               11                3
3138  44               15               11                3
3139   3                4                0                0
3140   0                0                0                5
3141  37               49               60               24
3142  27               38               31               10

In [ ]:
mobility_df <- read_csv("CS7331/Global_Mobility_Report.csv")
mobility_df